@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }
  html {
    font-family: "CerebriSansPro";
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-Thin.ttf") format("truetype");
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-ThinItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-ExtraLight.ttf") format("truetype");
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 200;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-ExtraLightItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-LightItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-Italic.ttf") format("truetype");
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-MediumItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-SemiBoldItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-BoldItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-ExtraBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 800;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-ExtraBoldItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-Heavy.ttf") format("truetype");
  }
  @font-face {
    font-family: "CerebriSansPro";
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/CerebriSansPro-HeavyItalic.ttf") format("truetype");
  }
  .dock-item.bounce {
    animation: bounce 0.5s;
  }
  .tooltip {
    position: absolute;
    top: -40px;
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 4px;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.2s, transform 0.2s;
  }
  .dock-item:hover .tooltip {
    opacity: 1;
    transform: translateY(0);
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  .dot {
    position: absolute;
    bottom: -8px;
    width: 4px;
    height: 4px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .dock-item.active .dot {
    opacity: 1;
  }
}
